@tailwind base;
@tailwind components;
@tailwind utilities;
.hover-card {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.hover-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
